body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,112,0.4822303921568627) 0%, rgba(9,122,114,1) 0%, rgba(0,212,255,1) 76%);
}

body {
    background-image:    url(dog-horse.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

p{
    font-size: 20px;
}

div.formulario {
    background-color: aquamarine;
    padding: 10px;
    margin: auto;
    width: 30%;
    border-radius: 20px;
    text-align: center;
}

div > form {
    margin: auto;
    width: 50%;
}

div > form > div > button {
    margin: auto;
    width: 50%;
}

div.form-line {
    margin-bottom: 10px;
}

ul{
    padding-left: 50px;
    width: auto;
    float: none;
    display: inline-block;
    margin: 0 auto;
}